In [4]:
import pandas as pd
data = pd.read_csv("w4 data.csv")

In [5]:
data

   背號 球員姓名       球員學號
0   4  陳思岑  41071110h
1   7  林鈺茹  41071109h
2  20  何巧軒  40971113h
3  19   陳葳  40971108h
4  22  王莉淇  40971222h
5  24  徐婷慧  61171015h
6  15  林美雯  61071018h
7  21  李心于  41171209h
8  23  詹喬崴  41171233h
9  24  何舒葦  41171217h

In [37]:
name = list (data['球員姓名'])
number = list (data['背號'])
dict(zip(name,number))

{'陳思岑': 4,
 '林鈺茹': 7,
 '何巧軒': 20,
 '陳葳': 19,
 '王莉淇': 22,
 '徐婷慧': 24,
 '林美雯': 15,
 '李心于': 21,
 '詹喬崴': 23,
 '何舒葦': 24}

             社員   社費
0           洪晨恩    V
1      KYingLee    V
2           許良穎    V
3            明源    V
4           王亭崴    V
5      Santiago  NaN
6           何諾軒    V
7           陳邁可  NaN
8           唐子寧    V
9           張睿峰    V
10    鄭文浩Marcus  NaN
11           楊東    V
12          楊豐禧    V
13          陳妙玟    V
14          Bob    V
15         Kimi    V
16          李文揚    V
17      蔡百峻Chun  NaN
18    Jonathan     V
19        Danny    V
20       Romano    V
21          謝宜呈    V
22          倪咸安  NaN
23       Martin    V
24           拓海    V
25         Ivan  NaN
26           天灝    V
27          陳宜權  NaN
28      Rex Lee  NaN
29        Jules    V
30          蘇淙彬    V
31         壽龍之介    V
32       司柏Beau  NaN
33          Gum    V
34          林書辰    V
35          羅志穎    V
36           柏翰  NaN
37         Kong  NaN
38  津波古拓未Takumi    V
39           Xi  NaN
40     蕭宏軒Syuan    V
41          林鈺茹    V